body {
    margin: 0;
    padding: 0;
}

li.dragging {
    opacity: 0.5;
    background-color: cornflowerblue;
}

.dragging-over[draggable=true] {
    border-top: 2px solid black;
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#list-container{
    height: 100%;
    width: 30%;
    background-color: lightgreen;
}

#blocks-container{
    height: 100%;
    width: 70%;
}

#resp {
    width: 50%;
}

#button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#area {
    height: 80%;
    background-color: lightblue;
}

#tools {
    height: 20%;
    background-color: lightcoral;
}

.block {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 10vw;
    bottom: 5vh;
}

.block.dragging{
    border: 2px solid black;
}
